.form {
  position: relative;

  border: 1px solid $inputs-default;
  border-radius: 24px;
  padding: 80px;
  max-width: 520px;
  width: 100%;
  background: $bg-background;
  z-index: 10;
  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: $text-primary;
  }
  .input {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
  }
  .button {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
  }
}
.clouse_icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.worget_password {
  margin-top: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: $text-primary;
  text-align: center;
  cursor: pointer;
}

.logoLink {
  display: none;
}

.logo {
  width: 76px;
  height: 24px;

  @include media-max($md) {
    width: 70px;
    height: 22px;
  }
}

@media (max-width: 500px) {
  .form {
    height: 100vh;
    padding: 88px 24px 0 24px;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .clouse_icon {
    top: 10px;
    right: 24px;
    z-index: 100;
  }

  .logoLink {
    display: block;
    position: absolute;
    top: 21px;
    left: 24px;
  }
}
